.loginContainer {
  display: flex;
  justify-content: center;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.outerContainer {
  height: 100%;
}
